body {
    font-family: Arial, sans-serif;
    background: url('https://wallpapercave.com/wp/wp3423610.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.main {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 24px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255);
    border-bottom: 3px ridge #ff5733;
}

.logo-name{
    height: 50%;
    width: 58px;
    text-decoration: none;
    color: #0066cc;
    font-weight: 1000;
    font-style: italic;
}

.logo-name span{
    color: #ff5733;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.nav ul{
    list-style: none;
}

.nav-link, .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    transition: 0.3s;
}

.nav-link {
    background: rgba(255, 255, 255);
    color: #333;
}

.nav-link:hover, .nav-link:focus {
    background: #bbbbbb65;
    color: #1a1a1a;
}

.container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
}

.container2 h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.button-container {
    margin-left: auto;
}

.button {
    padding: 8px 16px;
    background: #0066cc;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background: #005bb5;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-height: 100%;
    text-align: center;
    color: #000000; /* Black text color inside containers */
    margin-top: 100px;
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000; /* Black text color for headers */
}

.slider-container, .input-container, .comparison-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000; /* Black text color for labels */
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #1E90FF; /* Blue border */
    border-radius: 5px; /* Rounded corners */
}

button {
    background-color: #FFA500; /* Orange button color */
    color: #FFFFFF; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px; /* Larger font size */
    transition: background-color 0.3s; /* Smooth hover effect */
}

button:hover {
    background-color: #FF4500; /* Darker orange on hover */
}

#result,
#pair-results,
#final-results,
#report {
    margin-top: 20px;
}

.bullet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bullet-container input[type="radio"] {
    display: none;
}

.bullet-container label {
    cursor: pointer;
    background-color: #e0e0e0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    position: relative;
}

.bullet-container label::before {
    content: '';
    position: absolute;
    top: -25px;
    font-size: 12px;
    display: none;
}

.bullet-container input[type="radio"]:checked + label::before {
    content: attr(data-value);
    display: block;
}

.bullet-container input[type="radio"]:checked + label {
    background-color: #1E90FF; /* Blue bullet when selected */
    color: white;
}

.comparison-container {
    display: flex;
    justify-content: center;
    align-items: center;
}  

.comparison-container label {
    margin: 0 10px;
}

.slider-container {
    margin-bottom: -10px;
}

.question {
    text-align: center;
    font-size: 16px;
    margin-bottom: -20px;
    color: #000000; /* Black text color */
}

.line-scale {
    position: relative;
    height: 60px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.scale-label {
    position: absolute;
    top: 45px;
    font-size: 14px;
    color: #000000; /* Black text color */
}

.scale-label.left {
    left: 0;
}

.scale-label.right {
    right: 0;
}

.line-scale .horizontal-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000000; /* Black line */
}

.line-scale label {
    position: relative;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

.line-scale label span {
    display: block;
    width: 1px;
    height: 20px;
    background: #000000; /* Black scale marks */
    margin: 0 auto;
    position: relative;
}

.line-scale label span[data-value="50"] {
    height: 30px;
    background: #000000;
    font-weight: bold;
}

.line-scale label span::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #000000; /* Black border */
    background: transparent;
    cursor: pointer;
}

.line-scale input[type="radio"] {
    display: none;
}

.line-scale input[type="radio"]:checked + label span::before {
    background-color: transparent;
    border-color: #1E90FF; /* Blue border when selected */
}                                 

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000; /* Black border */
}

th, td {
    padding: 8px;
    text-align: left;
    color: #000000; /* Black text color */
}

ul {
    list-style-type: none; 
    padding: 0;
}

#landing-page {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://wallpapercave.com/wp/wp3423610.jpg') no-repeat center center fixed; 
    background-size: cover;
}

#landing-page button {
    background-color: #FFA500; 
    margin-top: 620px;
    color: #FFFFFF;
}

/* You can also add a hover effect if needed */
#landing-page button:hover {
    background-color: #FF4500; 
}

.title-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

h1.title {
    margin: 0;
    font-size: 50px;
    color: white;
}

.centered-button {
    display: block;
    margin: 20px auto;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#other-section {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instruction-page-1 p, #instruction-page-2 p {
    font-size: 20px; /* Increase this value as needed */
}

#instruction-page-2 ul li {
    font-size: 20px; /* Increase this value as needed */
}

#done {
    position: fixed;
    top: 20px;
    right: 20px;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.normal {
    position: static;
    transform: none;
}